@font-face {
    src: url('fonts/Titlefonts/Montserrat-Regular.ttf');
    font-family: 'TitlefontNormal';
}

@font-face {
    src: url('fonts/Titlefonts/Nunito-Regular.ttf');
    font-family: 'Contentfont';
}

body {
    background: white;
    margin: 0;
    font-family: 'Contentfont';
}

header {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 150px;
}

header h2 {
  font-family: "TitlefontNormal";
  padding-top: 40px;
  font-size: 16px;
}

header nav {
  display: block;
  width: 400px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

header a {
  display: inline-block;
  color: teal;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid teal;
  width: 130px;
}

header a:hover {
  background: teal;
  color: white;
}

header a:focus {
  outline: none;
}

header a.active, header a.active:hover {
  color: black;
  background: none;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 3px;
  cursor: default;
}

em {
  color: #ff5233;
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-family: "ContentFont";
  font-weight: normal;
  margin: 0;
  font-size: 40px;
}

main {
  text-align: justify;
}

main h1, main img, main p {
  margin-left: auto;
  margin-right: auto;
}

main h1 {
  font-size: 28px;
  text-align: center;
}

main p {
  width: 400px;
}

main img {
  display: block;
}

main ul {
  text-align: left;
}

h2 {
  font-family: "ContentFont";
  font-weight: normal;
  margin: 0;
  letter-spacing: 1px;
  font-size: 18px;
}

div {
  margin: 0;
  padding: 0;
}

.pageblurb {
  border-bottom: 1px solid #CCC;
  margin: auto;
  max-width: 400px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.pageblurb h1 {
  max-width: 400px;
}

.pageblurb p {
  margin: 0;
  margin-top: 10px;
}

#page {
  max-width: 900px;
  min-width: 640px;
  margin: auto;
}

.row, article {
  margin: auto;
  max-width: 400px;
}

.row h1 {
  width: 100%;
  font-size: 26px;
}

.row h2.tagline {
  font-family: "ContentFont";
  font-size: 16px;
  margin: auto;
  margin-top: 14px;
  text-align: center;
}

.row p {
  margin-top: 50px;
}

.row p.thin {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.row img {
  display: block;
  margin: 50px auto;
  height: 267px;
}

article h2 {
  margin-top: 40px;
  margin-bottom: 5px;
}

code.block {
  display: block;
  white-space: pre;
  margin: 20px 0;
  padding: 0 20px;
}

code {
  display: inline;
  font-size: 18px;
  color: darkgreen;
  font-weight: bold;
}

.tutorials nav {
  margin: auto;
  padding: 50px;
  text-align: center;
}

.tutorials nav a {
  display: block;
}

.tutorials nav a.active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}
